html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  box-sizing: border-box;
}

.Toastify__toast {
  --toastify-icon-color-success: var(#76b900);
  --toastify-color-progress-success: var(#76b900);
}

/* transitions */

.delete-enter {
  width: 0px;
}

/* mobile  */

@media (max-width: 600px) {
  .Toastify__toast {
    bottom: 150px;
  }
}
